.benefits-icons {
	width: 100%;
	box-sizing: border-box;
	background: var(--five-color);
	border-radius: 4px;
	fill: var(--first-color-heder-text-title);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	padding: 25px;
}

.list-title-benefits {
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: var(--first-color-heder-text-title);

	@media screen and (min-width: 768px) {
		text-align: left;
	}
}

.text-benefits {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--third-color-text);
}

.item-benefits {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
}

.list-benefits {
	@media screen and (min-width: 768px) {
		flex-basis: calc ((100% - 4 * 15) / 2);
		margin: 15px;
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 8 * 15) / 4);
		margin: 15px;
	}
}
