.team-seaction {
	background-color: var(--five-color);
}

.item-team {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
}

.team-card {
	background: var(--second-color-heder-text-title-bc);
	box-shadow: 0px 1px 3px var(--eleven-rgba), 0px 1px 1px var(--twelve-rgba), 0px 2px 1px var(--one-rgba);
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 30px;

	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 8 * 15px) / 4);
		margin: 15px;
	}
}

.team-img {
	align-items: center;
	width: 100%;
}

.staff {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--se);
	border-radius: 0px 0px 4px 4px;
}

.team-title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--first-color-heder-text-title);
}

.team-text {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--third-color-text);
	margin-bottom: 16px;
}
