.backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	right: 0;
	left: 0;
	top: 0;
	background: var(--one-rgba);
	z-index: 9999;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden {
	.modal {
		transform: translate(-50%, -50%) scale(0.3);
		opacity: 0;
	}
}
