:root {
	--first-color-heder-text-title: #212121;
	--second-color-heder-text-title-bc: #ffffff;
	--third-color-text: #757575;
	--accent: #2196f3;
	--hover-color: #188ce8;
	--four-color: #2f303a;
	--five-color: #f5f4fa;
	--border-header-color: #ececec;
	--border-portfolio-color: #eeeeee;
	--fill-color: #afb1b8;
	--one-rgba: rgba(0, 0, 0, 0.2);
	--two-rgba: rgba(0, 0, 0, 0.15);
	--three-rgba: rgba(255, 255, 255, 0.3);
	--four-rgba: rgba(255, 255, 255, 0.15);
	--five-rgba: rgba(255, 255, 255, 0.6);
	--six-rgba: rgba(0, 0, 0, 0.12);
	--seven-rgba: rgba(0, 0, 0, 0.06);
	--eight-rgba: rgba(0, 0, 0, 0.16);
	--nine-rgba: rgba(0, 0, 0, 0.1);
	--ten-rgba: rgba(0, 0, 0, 0.08);
	--eleven-rgba: rgba(0, 0, 0, 0.12);
	--twelve-rgba: rgba(0, 0, 0, 0.14);
	--thirteen-rgba: rgba(0, 0, 0, 0.2);
	--fourteen-rgba: rgba(0, 0, 0, 0.4);
	--fifteen-rgba: rgba(47, 48, 58, 0.8);
	--sixteen-rgba: rgba(33, 33, 33, 0.2);
	--seventeen-rgba: rgba(100, 64, 64, 0.12);
	--eighteen-rgba: rgba(34, 11, 11, 0.2);
	--nineteen-rgba: rgba(47, 48, 58, 0.4);
	--twenty-rgba: rgba(33, 150, 243, 0.9);
	--twentyone-rgba: rgba(255, 255, 255, 0.1);
}
